@mixin breakpoint($media) {
    @if $media == sx {
        @media (min-width: 0) and (max-width: 321px) {
            @content;
        }
    }
    @else if $media == sm1 {
        @media (min-width: 321px) and (max-width: 375px){
            @content;
        }
    }
    @else if $media == sm {
        @media (min-width: 376px) and (max-width: 425px){
            @content;
        }
    }
    @else if $media == md {
        @media (min-width: 426px) and (max-width: 768px) {
            @content;
        }
    }
    @else if $media == lg {
        @media (min-width: 769px) and (max-width: 1024px) {
            @content;
        }
    }
    @else if $media == xl {
        @media (min-width: 1200px){
            @content;
        }
    }
}
